header {
    background-image: url(https://res.cloudinary.com/zilfa/image/upload/v1602396078/3e1ed1768b1d_catzwu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:150vh;
}

.fa-pizza-slice {
    color: rgb(197, 197, 9);
}

.navbar-brand {
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Bilbo Swash Caps', cursive;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.575) !important;
}

#about {
    text-align: center;
    margin-top: 20px;
}

#about p {
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

#about span {
  font-family: 'Bilbo Swash Caps', cursive;
  font-weight: bold;
  font-size: 20px;
}
.navbar-nav .nav-item {
    margin: 0 20px;
}

.navbar-dark .navbar-nav .nav-link {
font-weight:700;
font-size: 14px;
text-transform: uppercase;
}

.form-control {
  width: 440px;
}

#contact .icons ul li {
    display: inline;
    text-align: center;
    padding: 10px;
  }
  
  .icons {
    text-align: center;
    margin: 10px 0;
  }
  

  
  .Copyright {
    text-align: center;
  }

  .card-title {
    font-weight: bold;
    font-size: 15px;
  }

  .about {
    text-align: center;
  }

  
  
