header {
    background-image: url(https://res.cloudinary.com/zilfa/image/upload/v1602302291/Amber-pizza-sign-_uclbg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:150vh;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.623) !important;
}

.about {
    text-align: center;
    margin-top: 20px;
}

.navbar-nav .nav-item {
    margin: 0 30px;
}

.navbar-dark .navbar-nav .nav-link {
font-weight:700;
font-size: 14px;
text-transform: uppercase;
}